services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: maire-frontend
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://laravel.test/api
    networks:
      - sail

networks:
  sail:
    external: true
    name: backend_sail